button {
    border: none;
    background-color: inherit;
}

button:hover {
    cursor: pointer;
}

.Search form {
    display: flex;
    align-items: center;
}

input {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.Search input {
    width: 270px;
    padding-right: 40px;
}

.Icon {
    margin-left: -30px;
    font-size: x-large;
}

