.App {
  text-align: center;
  width: 800px;
  margin: 10px auto;
  background-color: whitesmoke;
  display: flex;
  border-radius: 15px;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}